<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(user_id){ %>
      <div style="display: flex; justify-content: flex-end; align-items: center; padding: 0 30px;">
        <form action="/logout" method="post" style="display: flex; justify-content: flex-end;">
        <p class="nav-item" style="align-items: center; margin-bottom: 0; font-weight: 900; padding-right: 25px;">Logged in as TinyApp User: <%= userEmail %></p>
      </div>
        <button class="btn btn-outline-dark">Logout</button>
      </form>
      <% } else{ %>  
        <div style="display: flex; justify-content: flex-end; align-items: center;">
          <form action="/register" method="get" style="display: flex; justify-content: flex-end;">
          </div>
            <button class="btn btn-outline-dark" style="margin-right: 10px;">Register</button>
          </form>
          <div style="display: flex; justify-content: flex-end; align-items: center;">
            <form action="/login" method="get" style="display: flex; justify-content: flex-end;">
            </div>
              <button class="btn btn-outline-dark">Login</button>
            </form>
     <% } %>
    </nav>
  </header>